<!-- <div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Footable</h1>
</div> -->
<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="panel-heading">
            Danh mục quyết định
            <a href="" class="btn m-b-xs btn-xs btn-primary pull-right" ng-click="them_quyetdinh()"><i class="fa fa-plus"></i> Thêm quyết định</a>
        </div>
        <div class="panel-body b-b b-light hidden" style="padding-bottom:0px; padding-top:10px;">
            <p class="pull-right">Tìm kiếm:
                <input id="filter" ng-model="search" ng-change="updateFilteredList()" type="text" class="form-control input-sm w-sm inline m-r" /></p>
        </div>
        <div class="dataTables_wrapper">
            <div class="row">
                <div class="col-sm-4">
                    <div class="dataTables_length" id="table-projects_length"><label>Hiển thị <select name="table-projects_length" ng-model="sl" aria-controls="table-projects" class=""><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> mục</label></div>
                </div>
                <div class="row col-lg-8 dataTables_filter m-r">
                    <label>Tìm kiếm <input id="filter" type="text" ng-model="search" ng-change="updateFilteredList()" class="form-control input-sm" placeholder="" aria-controls="table-projects"></label>
                </div>
                <table class="table table-striped">
                    <tbody>
                        <tr class="table table-striped b-t b-b" ng-repeat="cv in listquyetdinh | orderBy: '-ngayky'">
                            <td>
                                <!-- <a class="text-info" href="" ui-sref="app.hopdong.chitiet({hd_id: item._id})" ng-bind-html="item.tengoithau | highlight:search">{{item.tengoithau}}<br></a>
                            <br> -->
                                <a href="" ui-sref="app.hopdong.chitiet({hd_id: cv._id})" class="text-info">Quyết định: <font ng-bind-html="cv.tenquyetdinh | highlight:search">{{cv.tenquyetdinh}}</font></a><br>
                                <font size="2">Số quyết định: <b ng-bind-html="cv.soquyetdinh | highlight:search"></b> | Ký ngày <b ng-bind-html="(cv.ngayky | date: 'dd/MM/yyyy') | highlight:search">{{cv.ngayky}}</b><br> Nơi nhận: <b ng-bind-html="cv.noinhan"></b><br>
                                   Người lập: <b ng-bind-html="cv.nguoilap.fullname | highlight:search"></b>
                                </font><br>
                                <div class="card-detail-item js-card-detail-due-date m-n">
                                    <h4 class="card-detail-item-header">File đính kèm </h4>
                                    <!-- <span class="ng-binding ng-scope"><i class="fa fa-file-pdf-o"></i> Tập tin đính kèm.pdf </span> -->
                                    <div class="">
                                      <div class="" value="dynamic" type="info" ng-repeat="file in cv.files">
                                          <a href="phaply/download/{{file._id}}" class="progress-striped m-b-sm progress"><span class="padder"><i class="fa fa-file-pdf-o"></i> {{file.originalname}} </span></a>
                                          <a href="phaply/download/{{file._id}}" target="_blank" class="progress-striped active m-b-sm m-l-sm progress text-primary"><i class="fa fa-download"></i> Tải xuống</a>
                                          <a href="phaply/pdf/{{file._id}}" target="_blank"  class="progress-striped active m-b-sm m-l-sm progress text-primary" ng-if="file.mimetype == 'application/pdf'"><i class="fa fa-eye"></i> Xem</a>
                                          <a href ng-click="inquyetdinh(file._id)" class="progress-striped active m-b-sm m-l-sm progress text-primary" ng-if="file.mimetype == 'application/pdf'"><i class="fa fa-print"></i> in</a>
                                          <a href ng-click="xoa_file({cv: cv, file: file})" class="progress-striped active m-b-sm m-l-sm progress text-danger" ng-if="file.upload_by == globals.user_details._id"><i class="fa fa-trash"></i> xóa</a>
                                      </div>
                                    </div>
                                    <div class="progress-striped active m-b-sm progress" value="dynamic" type="info" ng-repeat="item in uploader.queue | filter: {headers : {id : cv._id}}">
                                        <a href=""><span class="padder"><i class="fa fa-file-pdf-o"></i> {{item.file.name}} </span></a><span class="{{item.progress == 100 ? 'hidden' : ''}}"></i> {{item.progress}}% </span><span class="{{item.progress == 100 ? 'elementToFadeInAndOut2' : 'hidden'}}"></i> {{item.progress}}% </span>
                                        <div class="progress-bar bg-info {{item.progress == 100 ? 'hidden' : ''}}" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                        <div class="{{item.progress == 100 ? 'elementToFadeInAndOut' : 'hidden'}}"></div>
                                        <!-- {{item.uploader}} -->
                                    </div>
                                </div>

                            </td>
                            <!-- <td class="col-currency text-right">
                            <font size="2pt">Hợp đồng: <b>{{ cv.giatri | tinhtong: 'gthopdong' | number}}đ</b><br> Thực hiện: <b>{{cv.giatri | tinhtong: 'gtnghiemthu' | number}}đ</b></font>
                        </td> -->
                            <td class="col-currency text-right">
                                <!-- <font size="2pt">Thanh toán: <b>{{cv.thanhtoan | tinhtong: 'giatri' | number}}đ</b><br> Đã chuyển: <b>{{cv.chuyentien | tinhtong: 'giatri' | number}}đ</b><br> Còn lại: <b>{{(cv.thanhtoan | tinhtong: 'giatri') - (cv.chuyentien | tinhtong: 'giatri') | number}}đ</b></font>
                            <br> -->
                                <span class="btn btn-default btn-xs btn-file m-xs"><span class="fileinput-new"><i class="fa fa-paperclip"></i> Đính kèm</span><input type="file" nv-file-select="" uploader="uploader" options="{headers: {id: cv._id}, autoUpload: 'true'}" multiple /></span><br>
                                <div class="btn-group m-r-xs" dropdown="" is-open="status.isopen">
                                    <button type="button" class="btn btn-xs btn-default " dropdown-toggle="" ng-disabled="disabled" aria-haspopup="true" aria-expanded="false" aria-disabled="false">
                                <i class="fa fa-bars"></i> Khác <span class="caret"></span>
                              </button>
                                    <!-- <a dropdown-toggle="" ><span class="label bg-info pull-right">Đính kèm</span><br></a> -->
                                    <ul class="dropdown-menu" role="menu">
                                        <li ng-click="sua_quyetdinh(cv)" ng-if="cv.nguoilap == globals.user_details._id"><a href=""><i class="fa fa-pencil"></i> Sửa</a></li>
                                        <li ng-click="xoa_quyetdinh(cv)" ng-if="cv.nguoilap == globals.user_details._id"><a href=""><i class="fa fa-trash"></i> Xóa</a></li>
                                    </ul>
                                </div><br>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3" class="text-center">
                                <at-pagination at-list="listhopdong" at-config="config"></at-pagination>
                            </td>
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>
