<div class="modal-header"> <button type="button" class="close" data-dismiss="modal">×</button>
    <h4 class="modal-title">Thêm chức danh thực hiện dự án</h4>
</div>
<form accept-charset="utf-8" class="bs-example form-horizontal">
    <div class="modal-body">
        <div class="form-group">
            <label class="col-lg-4 control-label">Loại công việc</label>
            <div class="col-lg-8">
                <label class="col-lg-4 control-label"><strong>{{chucdanh.loaicongviec.loaicongviec}}</strong></label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4 control-label">Tên chức danh</label>
            <div class="col-lg-8">
              <input type="text" class="form-control" ng-model="chucdanh.chucdanh">
            </div>
        </div>

    </div>
    <div class="modal-footer"> <a href="#" class="btn btn-default" data-dismiss="modal">Đóng</a>
        <button type="submit" class="btn btn-primary" ng-click="ok()">Lưu thay đổi</button>

    </div>
