<div class="panel panel-default" ng-controller="lang">
    <div class="panel-heading">
      Quản lý cú pháp thông báo hoạt động
      <a href class="btn btn-default btn-xs pull-right" ng-click="add()">Thêm cú pháp</a>
    </div>
    <!-- <div class="panel-body b-b b-light">
      Search: <input id="filter" type="text" class="form-control input-sm w-sm inline m-r"/>
    </div> -->
    <div>
      <table class="table m-b-none" ui-jq="footable" data-filter="#filter" data-page-size="30">
        <thead>
          <tr>
              <th>
                  key
              </th>
              <th>
                  value
              </th>
              <th class="pull-right">
                  Tùy chọn
              </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="l in lang">
              <td>{{l.key}}</td>
              <td><a href>{{l.value}}</a></td>
              <td>
                <div class="pull-right">
                  <!-- <a href class="btn btn-default btn-xs m-l-xs pull-right" ng-click="delete(l)"><i class="fa fa-trash text-danger"></i></a> -->
                  <a href class="btn btn-default btn-xs pull-right" ng-click="edit(l)"><i class="fa fa-pencil"></i></a>
                </div>
              </td>
          </tr>
        </tbody>
        <tfoot class="hide-if-no-paging">
          <tr>
              <td colspan="5" class="text-center">
                  <ul class="pagination"></ul>
              </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
