<div class="panel panel-default" style="min-height: 720px;">
    <div class="panel-body">
      <div class="form-group">
          <div class="col-lg-8">
            <label class="control-label"><strong>Loại công việc</strong></label>
            <ui-select ng-model="_loaicongviec" theme="bootstrap" on-select="chon_loaicongviec($item)">
                <ui-select-match placeholder="Chọn loại công việc">{{$select.selected.loaicongviec}}</ui-select-match>
                <ui-select-choices repeat="item in loaicongviec | filter: $select.search">
                    <div ng-bind-html="item.loaicongviec | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
          </div>
      </div>
    </div>
    <div class="panel-heading">
        Danh sách chức danh
        <a href class="btn btn-default btn-xs pull-right" ng-click="them_chucdanh()"><i class="fa fa-plus"></i> Thêm chức danh</a>
    </div>
    <!-- <div class="panel-body b-b b-light">
      Search: <input id="filter" type="text" class="form-control input-sm w-sm inline m-r"/>
    </div> -->
    <div>
        <table class="table m-b-none" ui-jq="footable" data-filter="#filter" data-page-size="30">
            <thead>
                <tr>
                    <th>
                        Loại công việc
                    </th>
                    <!-- <th>
                        Phòng thực hiện
                    </th> -->
                    <th class="pull-right">
                        Tùy chọn
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cd in chucdanh | filter: { loaicongviec: {_id: _loaicongviec._id} }">
                    <td>{{cd.chucdanh}}</td>
                    <!-- <td><a href>{{cd.loaicongviec._id}}</a></td> -->
                    <td>
                        <div class="pull-right">
                            <a href class="btn btn-default btn-xs m-l-xs pull-right" ng-click="delete_chucdanh(cd)"><i class="fa fa-trash text-danger"></i></a>
                            <a href class="btn btn-default btn-xs pull-right" ng-click="edit_chucdanh(cd)"><i class="fa fa-pencil"></i></a>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot class="hide-if-no-paging">
                <tr>
                    <td colspan="5" class="text-center">
                        <ul class="pagination"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
