<aside class="bg-light lter b-l">
    <section class="vbox">
        <header class="header bg-white b-b clearfix">
            <div class="row m-t-sm project-header">
                <div class="col-sm-12 m-b-xs">
                    <ul class="breadcrumb bg-white" style="margin-bottom:0px">
                      <li><a href ui-sref="app.quanly.thietlap.quanlyhethong.chung" ui-sref-active="active">Chung</a></li>
                      <!-- <li><a href ui-sref="app.quanly.thietlap.duan.loaicongviec" ui-sref-active="active">Loại công việc</a></li> -->
                    </ul>
                </div>
            </div>
        </header>
        <section class="scrollable group-panel" ui-view></section>
    </section>
</aside>
