<div class="vbox" ng-controller="kehoachgiamsat">
    <div class="row-row">
        <div class="cell">
            <div class="cell-inner">
                <div class="col-sm-12 no-padder">
                    <section class="panel panel-default">
                        <header class="panel-heading font-bold">
                            <a href="" ui-sref="app.projects.giamsat.listkehoach({p_id: param.p_id})" class="btn btn-xs btn-default m-r-sm">
                                <i class="glyphicon glyphicon-chevron-left"></i> Quay lại</a>
                            <i class="fa fa-info-circle"></i> Kế hoạch giám sát
                            <a href="" class="btn btn-success pull-right btn-xs" ui-sref="app.projects.giamsat.bieumau({p_id: param.p_id, kh_id: param.kh_id, ac: 'kehoach', ct: '0'})">
                                <i class="fa fa-print"></i> Biểu mẫu</a>
                            <a href="" class="btn btn-primary pull-right btn-xs m-r-xs" ui-sref="app.projects.giamsat.botrikehoach({p_id: param.p_id, kh_id: param.kh_id})">
                                <i class="fa fa-print"></i> Bố trí thời gian</a>
                            <a href="" class="btn btn-warning pull-right btn-xs m-r-xs" ui-sref="app.projects.giamsat.baocaokehoach({p_id: param.p_id, kh_id: param.kh_id})">
                                <i class="fa fa-thumbs-up"></i> Báo cáo hoàn thành</a>
                        </header>
                        <div class="">
                            <div class="col-lg-12 b-b">
                                <div class="col-lg-6 m-t-xs">
                                    <P>Số:
                                        <strong>{{kehoach._id.sokehoach}}</strong>
                                    </P>
                                    <p>Dự án:
                                        <strong>{{kehoach._id.project.project_title}}</strong>
                                    </p>
                                    <p>Người lập:
                                        <strong>{{kehoach._id.created_by.fullname}}</strong>
                                    </p>
                                    <input type="text" class="hidden" ng-model="test">
                                    <button class="btn-default hidden" ng-click="okkk(test)">OK</button>
                                </div>
                                <div class="col-lg-2">
                                    <!-- <div class="btn-group pull-right">
                                            <label class="btn btn-sm btn-default" ng-model="bia_data.type" btn-radio="'a4d'">
                                                <i class="fa fa-check text-active"></i> A4 Dọc</label>
                                            <label class="btn btn-sm btn-default" ng-model="bia_data.type" btn-radio="'a4n'">
                                                <i class="fa fa-check text-active"></i> A4 Ngang</label>
                                            <label class="btn btn-sm btn-default" ng-model="bia_data.type" btn-radio="'a3'">
                                                <i class="fa fa-check text-active"></i> A3</label>
                                        </div> -->

                                </div>
                            </div>
                            <div class="col-lg-12 no-padder">
                                <div id="grid1" ui-grid="gridOptions" class="grid" ui-grid-edit ui-grid-auto-resize></div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>