<div class="vbox"  ng-controller="biavb">
  <div class="row-row">
    <div class="cell">
      <div class="cell-inner">
        <div class="col-sm-12 no-padder">
          <section class="panel panel-default">
            <header class="panel-heading font-bold"><i class="fa fa-info-circle"></i> Bìa hồ sơ
              <a href="" class="btn btn-success pull-right btn-xs" ng-click="print()"><i class="fa fa-print"></i> In bìa</a>
              <a href="" class="btn btn-primary pull-right btn-xs m-r-xs" ng-click="save()"><i class="fa fa-save"></i> Lưu</a>
              <button ui-sref="app.projects.view.project_details({p_id: p._id})" class="btn btn-xs btn-default pull-right m-r-xs"><i class="fa  fa-arrow-left"></i> Quay lại</button>
            </header>
            <div class="">

              <div class="col-lg-12 b-b">
                <div class="wrapper-md">
                  <div class="col-lg-6">
                    <div>
                      <div class="btn-group m-b-sm">
                        <div class="btn-group dropdown" dropdown>
                          <button type="button" class="btn btn-default" dropdown-toggle>
                            {{bia_data.tap.content}}
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                            <li ng-repeat="b in list_bia"><a href ng-click="select_bia(b)">{{b.tap.content}}</a></li>
                          </ul>
                        </div>
                        <button type="button" class="btn btn-default" ng-click="add_bia()"><i class="fa fa-plus"></i></button>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="btn-group pull-right">
                      <label class="btn btn-sm btn-default" ng-model="bia_data.type" btn-radio="'a4d'"><i class="fa fa-check text-active"></i> A4 Dọc</label>
                      <label class="btn btn-sm btn-default" ng-model="bia_data.type" btn-radio="'a4n'"><i class="fa fa-check text-active"></i> A4 Ngang</label>
                      <label class="btn btn-sm btn-default" ng-model="bia_data.type" btn-radio="'a3'"><i class="fa fa-check text-active"></i> A3</label>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col b-r" style="width: 400px;">
                <div class="wrapper-md">
                  <div class="col-sm-12 no-padder">
                    <div class="col-sm-12 no-padder">
                      <p>Tiêu đề: ( {{bia_data.tieude.size}}px)</p>
                      <label class="i-switch m-t-xs m-r pull-right bia-text-option">
                        <input type="checkbox" ng-model="bia_data.tieude.show">
                        <i></i>
                    </label>
                    </div>
                    <input type="text" class="form-control" name="" ng-model="bia_data.tieude.content">
                    <slider ng-model="bia_data.tieude.size" floor="40" ceiling="80"></slider>
                  </div>
                  <div class="col-sm-12 no-padder">
                    <div class="col-sm-12 no-padder">
                      <p>Tập: ( {{bia_data.tap.size}}px)</p>
                      <label class="i-switch m-t-xs m-r pull-right bia-text-option">
                        <input type="checkbox" ng-model="bia_data.tap.show">
                        <i></i>
                    </label>
                    </div>
                    <input type="text" class="form-control" name="" ng-model="bia_data.tap.content">
                    <slider ng-model="bia_data.tap.size" floor="30" ceiling="70"></slider>
                  </div>
                  <div class="col-sm-12 no-padder">
                    <div class="col-sm-12 no-padder">
                      <p>Tên tập: ( {{bia_data.tentap.size}}px)</p>
                      <label class="i-switch m-t-xs m-r pull-right bia-text-option">
                        <input type="checkbox" ng-model="bia_data.tentap.show">
                        <i></i>
                    </label>
                    </div>
                    <input type="text" class="form-control" name="" ng-model="bia_data.tentap.content">
                    <slider ng-model="bia_data.tentap.size" floor="30" ceiling="70"></slider>
                  </div>
                  <p>Cỡ tiêu đề: ( {{bia_data.pinfo_opts.size}} px)</p>
                  <slider ng-model="bia_data.pinfo_opts.size" floor="8" ceiling="50">
                  </slider>
                  <p>Cao tiêu đề: ( {{bia_data.tieude_opts.cao}} mm)</p>
                  <slider ng-model="bia_data.tieude_opts.cao" floor="30" ceiling="210">
                  </slider>
                  <p>Cao thông tin: ( {{bia_data.pinfo_opts.cao}} mm)</p>
                  <slider ng-model="bia_data.pinfo_opts.cao" floor="0" ceiling="100">
                  </slider>
                  <p>Lề thông tin: ( {{bia_data.pinfo_opts.pad}} mm)</p>
                  <slider ng-model="bia_data.pinfo_opts.pad" floor="15" ceiling="210">
                  </slider>
                </div>
              </div>
              <div class="col padder">
                <div ng-include="'module/projects/tpl/' + bia_data.type + '.htm'">

                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
