<section id="content" ng-controller="phancong">
    <section class="hbox stretch">
        <aside>
            <section class="vbox">
                <section class="scrollable wrapper">
                    <!-- Start Project Form -->
                    <div class="col-sm-12">
                        <section class="panel panel-default">
                            <header class="panel-heading font-bold">
                                <i class="fa fa-info-circle"></i> Quản lý nhân sự tham gia dự án
                                <a href class="btn btn-xs btn-success pull-right" ng-click="add_user()">
                                    <i class="fa fa-plus"></i> Thêm nhân viên</a>
                            </header>
                            <div class="panel-body">
                                <table class="table m-b-none" ui-jq="footable" data-filter="#filter" data-page-size="30">
                                    <thead>
                                        <tr>
                                            <th>
                                                Họ và tên
                                            </th>
                                            <th>
                                                Phòng ban
                                            </th>
                                            <th>
                                                Chức vụ
                                            </th>
                                            <th class="pull-right">
                                                Tùy chọn
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="u in users">
                                            <td>
                                                <a href class="text-info">
                                                    <span class="thumb-xxs avatar">
                                                        <img alt="..." src="files/get/{{u.user.cur_avatar}}">
                                                    </span>
                                                    {{u.user.fullname}}
                                                </a>
                                            </td>
                                            <td>
                                                <a href>{{u.company.company_name}}</a>
                                            </td>
                                            <td>
                                                <a href>{{u.chucvu.chucvu}}</a>
                                            </td>
                                            <td>
                                                <a href class="btn btn-default btn-xs pull-right m-l-xs" ng-click="delete_user(u)">
                                                    <i class="fa fa-circle-o-notch text-danger"></i> Xóa</a>
                                                <a href class="btn btn-default btn-xs pull-right m-l-xs" ng-click="user_role(u)">
                                                    <i class="fa fa-cog"></i> Phân quyền</a>
                                                <!-- <a href class="btn btn-default btn-xs pull-right" ng-click="edit_user(u)"><i class="fa fa-pencil"></i></a> -->
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot class="hide-if-no-paging">
                                        <tr>
                                            <td colspan="5" class="text-center">
                                                <ul class="pagination"></ul>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </section>
                    </div>
                    <!-- End Project Form -->
                </section>
            </section>
        </aside>
    </section>
    <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
</section>