<div class="col" ng-controller="welcome as vm" ng-init="app.settings.container = false;">
    <!-- <div style="background:url(img/c4.jpg) center center; background-size:cover">
        <div class="wrapper-lg bg-white-opacity">
            <div class="row m-t">
                <div class="col-sm-7">
                    <a href="" class="thumb-lg pull-left m-r">
                        <img src="files/get/{{globals.user_details.cur_avatar}}" class="img-circle">
                    </a>
                    <div class="clear m-b">
                        <div class="m-b m-t-sm">
                            <div class="">
                              <span class="h3 text-black">{{globals.user_details.fullname}}</span>
                            </div>
                            <small class="m-l">{{globals.user_details.chucvu.chucvu}}</small>
                        </div>
                        <p class="m-b">
                            <a href="" class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-twitter"></i></a>
                            <a href="{{globals.user_details.facebook}}" class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-facebook"></i></a>
                            <a href="" class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-google-plus"></i></a>
                        </p>
                        <a href="" class="btn btn-sm btn-success btn-rounded hidden">Follow</a>
                    </div>
                </div>
                <div class="col-sm-5 hidden">
                    <div class="pull-right pull-none-xs text-center">
                        <a href="" class="m-b-md inline m">
                            <span class="h3 block font-bold">2k</span>
                            <small>Followers</small>
                        </a>
                        <a href="" class="m-b-md inline m">
                            <span class="h3 block font-bold">250</span>
                            <small>Following</small>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="wrapper bg-white b-b hidden">
        <ul class="nav nav-pills nav-sm">
            <li class="active"><a href="">Stream</a></li>
            <li><a href="">Profile</a></li>
            <li><a href="">Messages</a></li>
        </ul>
    </div>
    <div class="padder-top">
      <div class="">
      <div class="team-menu">Team Awesome</div>
      <div class="channel-menu"><span class="channel-menu_name"><span class="channel-menu_prefix">#</span>                admin</span></div>
    </div>
    <div class="main">

    </div>
    <div class="main">
      <div class="listings">
        <div class="listings_channels">
          <h2 class="listings_header">Chung</h2>
          <ul class="channel_list">
            <li class="channel {{selected == 'tatca' ? 'active' : ''}}"><a class="channel_name" ng-click="select_tatca()"><span class="tag-unread">0</span><span><span class="prefix">#</span>Tất cả</span></a></li>
          </ul>
        </div>
        <div class="listings_channels">
          <h2 class="listings_header">Dự án</h2>
          <ul class="channel_list" ng-repeat="p in duan_theodoi">
            <li class="channel"><a ui-sref="app.tag({state: 'duan', id: p._id})" class="channel_name"><span class="tag-unread">0</span><div class="overflow ellipsis"><span class="prefix">#</span>{{p.project_code}}</div></a></li>

          </ul>
        </div>
        <div class="listings_direct-messages">
          <h2 class="listings_header">Nhiệm vụ</h2>
          <ul class="channel_list">
            <li class="channel"><a class="channel_name"><span class="tag-unread">20</span><span><span class="prefix"> </span>kryton</span></a></li>
          </ul>
        </div>
      </div>
      <div class="new-comment js-new-comment h-comment">
          <!-- <div class="member member-no-menu">
            <a class="pull-left thumb-xs">
                <img src="files/get/{{globals.user_details.cur_avatar}}" class="" alt="...">
            </a>
          </div> -->
          <form>
              <div class="comment-frame">
                  <div class="comment-box">
                      <!-- <textarea class="comment-box-input js-new-comment-input" ng-model="comment.message" placeholder="Viết bình luận…" tabindex="1" dir="auto" style="overflow: hidden; word-wrap: break-word; height: 45px !important; min-height: 45px; border-bottom-width: 0px;"></textarea> -->
                      <!-- <textarea ng-model="comment.message" aria-label="Dynamic textarea"></textarea> -->
                      <div contenteditable contenteditabl="true" only-text="true" placeholder="Hãy bình luận gì đó..." convert-new-lines="true" ng-model="comment.message"
                        ng-trim="true"
                        rows="5"
                        cols="100"
                        flag="@"
                        at-user
                        atEmoji
                        ng-keydown="e_keydown(this)"
                        style="height: auto; border-bottom-width: 0px;"
                        auto-complete class="comment comment-box-input js-new-comment-input"
                        class="h-comment-box"></div>
                        <!-- <textarea ng-model="comment.message" rows="8" cols="80"></textarea> -->
                        <span auto-follow="true" ng-if="!isAtListHidden">
                          <div ui-scroll-viewport class="aem-picker-panel b" style="height: 100px;">
                            <div class="list-group-item user-item" ng-repeat="u in listchungchi | filter: {fullname : query.text}" ng-click="autoComplete(u)">
                              <a herf class="pull-left thumb-xxs avatar m-r m-r-xxs m-t-xxs" ng-click="autoComplete(u)">
                                <img src="files/get/{{u.cur_avatar}}" alt="..." class="img-circle m-t-xxs">
                                <i class="on b-white bottom"></i>
                              </a>
                              <div class="clear">
                                <div><a ui-toggle-class="show" style="font-weight: normal;" ng-click="autoComplete(u)">{{u.fullname}}</a></div>
                                <small class="text-muted text-user-item-chucvu">{{u.chucvu.chucvu ? u.chucvu.chucvu : 'Chưa có'}}</small>
                              </div>
                            </div>
                          </div>
                      </span>
                      <span auto-follow="true" ng-if="!isAtListHidden_e">
                        <!-- <div emoji class="list-group users-list emoji-list no-borders pull-in aem-picker-panel b">
                            <div ng-repeat="e in aemoji" class="aem aem-{{e.class}}" ng-click="autoComplete_e(e)"></div>
                        </div> -->
                        <div emoji class=" aem-picker-panel b">
                          <div class="" value="{{e.class}}">
                            <div ng-repeat="e in aemoji" class="aem-select">
                              <div class="aem aem-{{e.class}}" ng-click="autoComplete_e(e)"></div>
                            </div>

                          </div>
                        </div>
                    </span>

                      <div class="line b-b" ng-if="uploader.queue.length > 0"></div>
                      <h3 class="card-detail-item-header js-show-with-desc padder" ng-if="uploader.queue.length > 0">Tập tin đính kèm</h3>
                      <div class="checklist-item" ng-repeat="item in uploader.queue | filter: {headers : {type : 'comments'}}">
                          <div class="normal-item enabled js-toggle-checklist-item"><i class="fa fa-file-text-o sub-cat-icon"></i>
                          </div>
                          <div class="checklist-item-details non-empty editable" ng-mouseenter="options=true" ng-mouseleave="options=false" attr="name">
                              <p class="checklist-item-details-text">{{item.file.name}}
                                  <span class="{{item.progress == 100 ? 'elementToFadeInAndOut2' : 'hidden'}}"></i> {{item.progress}}% </span>
                                  <span class="{{item.progress != 100 ? '' : 'hidden'}}"></i> {{item.progress}}% </span>
                              </p>
                          </div>
                      </div>
                      <div class="hidden" style="height: 36px;"></div>
                      <div class="comment-box-options">
                          <span class="comment-box-options-item js-comment-add-attachment btn-file">
                            <span class="fileinput-new"><span class="icon-sm icon-attachment"></span></span>
                            <input type="file" nv-file-select="" uploader="uploader" options="{headers: {id: m._id, type: 'comments'}, autoUpload: 'true'}" multiple />
                          </span>
                          <a class="comment-box-options-item js-comment-mention-member" href="#" title="Mention a member…">
                              <span class="icon-sm icon-mention"></span>
                          </a>
                          <a class="comment-box-options-item js-comment-add-emoji" href="" title="Add emoji…">
                              <span class="icon-sm icon-emoji"></span></a>
                          <a class="comment-box-options-item js-comment-add-card" href="#" title="Add card…">
                              <span class="icon-sm icon-card"></span>
                          </a>
                      </div>

                  </div>
              </div>
              <!-- <div class="comment-controls u-clearfix">
                  <button type="" class="btn btn-info" name="button" ng-click="project_comment()"><i class="fa fa-send-o"></i> Gửi</button>
              </div> -->
          </form>
          <div class="comment-too-long-warning">
              <p>Your comment is too long! You can add it as a text attachment or truncate it.</p>
              <input class="primary js-attach-comment" type="submit" value="Add as an Attachment" tabindex="4">
              <input class="js-truncate-comment" type="submit" value="Truncate" tabindex="5">
          </div>
      </div>
      <div class="message-history col-xs-12" style="float: right; height:0px; overflow: hidden;padding:0px"></div>
      <div class="message-history">
          
      </div>
    </div>
    </div>
</div>
